In [2]:
name = 'Zubair'
num = 197301
"My name is {} and my role no. is {}".format(name,num)

'My name is Zubair and my role no. is 197301'

In [6]:
name = 'Zubair'
num = 197301
"My name is {naam} and my role no. is {number}".format(naam=name,number=num)

'My name is Zubair and my role no. is 197301'

In [8]:
s = 'hello'
s[0]

'h'

In [10]:
s[0:]

'hello'

In [11]:
s[:]

'hello'

In [14]:
s[:3]

'hel'

In [16]:
s[1:3]

'el'

In [18]:
my_list = [1,2,3,4,5]
my_list.append(6)
my_list

[1, 2, 3, 4, 5, 6]

In [22]:
my_list[0] = 'NEW'
my_list

['NEW', 2, 3, 4, 5, 6]

In [24]:
nest = [1,2,3,[5,6]]
nest[3]

[5, 6]

In [26]:
nest[3][1]

6

In [30]:
dict = {'key1':'value1','key2':'value2'}
dict['key1']

'value1'

In [34]:
dict1 = {'key1':'value1','key2':{'a':'innerval'}}
dict1['key2']['a']

'innerval'

In [36]:
dict2 = {'key1':'value1','key2':[1,2,3,4]}
dict2['key2'][2]

3

In [39]:
t = (1,2,3)
t[0]

1

In [55]:
{1,1,2,3,4,4,4}

{1, 2, 3, 4}

In [54]:
set([1,1,1,2])

{1, 2}

In [45]:
s = set([1,1,1,2])
s.add(1)
s.add(5)
s

{1, 2, 5}

In [50]:
if 1<2:
    print('1<2')

1<2

In [53]:
if 2<1:
    print('2<1')
elif 3==3:
   print('3==3')
else:
    print('else')

3==3

In [59]:
seq = [1,1,1,1,1]
for i in seq:
    print(i)

1
1
1
1
1

In [63]:
i = 1
while i <5:
    print(i)
    i = i+1

1
2
3
4

In [75]:
s = range(0,5)  
s

range(0, 5)

In [76]:
for i in range(0,5):
    print(x)

4
4
4
4
4

In [69]:
l = list(range(0,9))
l

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [78]:
out = [i**2 for i in s]
out

[0, 1, 4, 9, 16]

In [80]:
def myfunc(name):
    print('Hello ' + name)

In [81]:
myfunc('Zubair')

Hello Zubair

In [84]:
def myfunc1(name =" Default"):
    print('Hello ' + name)

In [85]:
myfunc1()

Hello  Default

In [86]:
myfunc1(name='ABC')

Hello ABC

In [93]:
def square(num):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES
    """
    return num**2

In [94]:
output = square(2)
output

4

In [96]:
range#Click Shift Tab to view documentation of function

range

In [99]:
def times2(var):
    return var*2

In [100]:
times2(10)

20

In [101]:
seq = [1,2,3,4]

In [105]:
list(map(times2,seq))

[2, 4, 6, 8]

In [106]:
list(map(lambda v:v*2,seq))

[2, 4, 6, 8]

In [110]:
list(filter(lambda n: n % 2 == 0 ,seq))

[2, 4]

In [112]:
s = 'hello my name is zubair'
s.upper()

'HELLO MY NAME IS ZUBAIR'

In [113]:
s.split()

['hello', 'my', 'name', 'is', 'zubair']

In [114]:
tweet = 'Go Sport! #Sports'
tweet.split()

['Go', 'Sport!', '#Sports']

In [115]:
tweet.split('#')

['Go Sport! ', 'Sports']

In [117]:
d = {'k1':1,'k2':2}
d.keys()

dict_keys(['k1', 'k2'])

In [118]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [119]:
d.values()

dict_values([1, 2])

In [128]:
lst = [1,2,3,4,5]

In [129]:
lst.pop()
lst

[1, 2, 3, 4]

In [130]:
lst.pop(0)
lst

[2, 3, 4]

In [131]:
'x' in [1,2,3]

False

In [132]:
1 in [1,2,3]

True

In [135]:
x = [(1,2),(3,4),(5,6)]
x[1][1]

4

In [136]:
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [138]:
for a,b in x:
    print(a)

1
3
5